@model Genealogie.ASP.Models.UtilisateurDetails

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UtilisateurDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDeNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDeNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cartedepayement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cartedepayement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actif)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à l'index", "Index")
        </div>
    }
</div>
